{% ckan_extends %}

{% set res = c.resource %}

{% block resource_read_url %}
  {{ super() }}
  {% set wfs = h.get_resourcetracker_ogr_wfs(res) %}
  {% if wfs and h.is_url(wfs) %}
    <p class="muted ellipsis">{{ _('Example WFS request:') }} <a class="resource-url-analytics" href="{{ wfs }}" title="{{ wfs }}" target="_blank">{{ wfs }}</a></p>
  {% endif %}
  {% set wms = h.get_resourcetracker_ogr_wms(res) %}
  {% if wms and h.is_url(wms) %}
    <p class="muted ellipsis">{{ _('Example WMS request:') }} <a class="resource-url-analytics" href="{{ wms }}" title="{{ wms }}" target="_blank">{{ wms }}</a></p>
  {% endif %}
{% endblock %}