<table class="table table-striped table-bordered table-condensed">
  <colgroup>
    <col width="35">
    <col width="65">
  </colgroup>
  <tr>
    <th>{{ _('Id') }}</th>
    <td>{{ job.id }}</td>
  </tr>
  <tr>
    <th>{{ _('Action') }}</th>
    <td>{{ job.action }}</td>
  </tr>
  <tr>
    <th>{{ _('Last Updated') }}</th>
    <td>
        <span class="automatic-local-datetime" data-datetime="{{ h.render_datetime(job.last_updated, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.last_updated, with_hours=True) }}
        </span>
    </td>
  </tr>
  <tr>
    <th>{{ _('Status') }}</th>
    <td>{{ _(job.state) }}</td>
  </tr>
  {% if job.error is not none %}
    <tr>
    <th>{% if job.state == 'complete' %}{{ _('Warning') }}{% else %}{{ _('Error')}}{% endif %}</th>
    <td>{{ _(job.error) }}</td>
  </tr>
  {% endif %}
</table>
