{% ckan_extends %}

{% block resource_read_url %}
  {{ super() }}
  {% set wfs = res.wfs_url %}
  {% if wfs and h.is_url(wfs) %}
    <p class="muted ellipsis">{{ _('WFS endpoint:') }} <a class="resource-url-analytics" href="{{ wfs }}" title="{{ wfs }}" target="_blank">{{ wfs }}</a></p>
  {% endif %}
  {% set wms = res.wms_url %}
  {% if wms and h.is_url(wms) %}
    <p class="muted ellipsis">{{ _('WMS endpoint:') }} <a class="resource-url-analytics" href="{{ wms }}" title="{{ wms }}" target="_blank">{{ wms }}</a></p>
  {% endif %}
{% endblock %}